@media (max-width: 480px) {
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        font-family: 'Questrial', sans-serif;
    }

    html {
        margin: 0 auto;
        overflow-y: auto;
        overflow-x: hidden;
        cursor: crosshair;
        height: auto;
    }

    body {
        max-width: 100%;
        max-height: 100%;
        background: #343434;
        background: radial-gradient(at left top, #343434, #2F4E89);
    }

    :root {
        --primary-color: #ffffff
    }

    /* Header */

    header {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.1);
        height: 50px;
        width: 100%;
        padding-left: 30px;
        z-index: 1;
    }

    header h1 {
        font-size: 20px;
        color: var(--primary-color);
        font-weight: 200;
    }

    header input{
        display: none;
    }
    
    header label img {
        filter: invert(1);
        margin-right: 30px;
        height: 20px;
        width: 20px;
    }

    #menu-header {
        display: none;
        text-align: right;
        justify-content: center;
        height: 19rem;
        width: 9rem;
        background-color: #fff;
        text-decoration: none;
        top: 50px;
        right: 0px;
        position: absolute;
        list-style: none;
        border-radius: 0px 0px 5px 5px;
        z-index: 1;
    }

    #menu-header a {
        display: flex;
        justify-content: end;
        color: black;
        text-decoration: none;
        padding: 20px;
        
    }

    /* Hero Section */
    
    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: var(--primary-color);
        height: 22rem;
        width: 70%;
        padding-left: 30px;
        margin-top: 20px;
    }

    .hero-section h3 {
        font-weight: 300;
        font-size: 35px;
    }

    .hero-span span {
        font-size: 15px;
        font-weight: 100;
        text-align: justify;
    }

    .button-portfolio button {
            min-width: 130px;
            height: 40px;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
            z-index: 0;
            background: none;
            overflow: hidden;
            border: 2px solid #ffffff;
          }

    .home-social {
        top: 0px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15rem;
        right: -70px;
        gap: 15px;
        height: 2rem;
        width: 8rem;
        justify-content: space-between;
        z-index: 0;
    }

    .home-social-icon {
        display: flex;
        align-items: center;
        font-size: 40px;
        color: #fff;
        text-decoration: none;
    }

    .photo {
        display: block;
        height: 25rem;
        justify-items: center;
        width: 100%;
        background-image: url(./Assets/Photos/hero-photo.PNG);
    }

    #hero-photo {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;

    }
          
    .button-portfolio button:hover {
        color: rgb(199, 199, 199);
        border: 2px solid rgb(199, 199, 199);
        }

    /* Acerca de mi */

    .about-me {
        scroll-behavior: smooth;
        display: flex;
        height: 50rem;
        background-color: #fff;
    }

    .text-about-me h2 {
        margin-top: 20px;
        margin-left: 30px;
    }

    .text-about-me span {
        display: flex;
        float: none;
        margin-left: auto;
        margin-right: 30px;
        word-wrap: break-word;
        margin-left: 30px;
        font-size: 15px;
        text-align: justify;
    }
    

    /* Proyectos realizados */

    .proyects {
        display: flex;
        flex-direction: column;
        color: #fff;
        height: 50rem;
        margin-left: 30px;
    }


    /* Footer */

    footer {
        display: flex;
        justify-content: center;
        color: #fff;
        background-color: #343434;
        height: 8rem;
    }

    .info-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .info-contact h4 {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

    #link-mail {
        margin-top: 10px;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

    .info-contact i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

}